/* Footer Base */

.footer {
  position: relative;
  padding: 1rem;
  /* padding-bottom: 2rem; */
}

.footer-wrapper {
  position: relative;
  background: #000;
  color: #fff;
  /* padding: 80px 20px 40px; */
  border-radius: 3rem;
  margin-top: 40px;
}

.footer {
  position: relative;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  padding-top: 2rem;
  max-width: 1400px;
  margin: auto;
}

@media (min-width: 300px) {
  .footer {
    margin-top: 0rem;
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-right: 0.8rem;
  }
}

@media (min-width: 550px) {
  .footer {
    margin-top: 0rem;
    padding-top: 2.5rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 740px) {
  .footer {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 765px) {
  .footer {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}

@media (min-width: 965px) {
  .footer {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 2.9rem;
    padding-right: 2.9rem;
  }
}

@media (min-width: 1100px) {
  .footer {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }
}

@media (min-width: 1190px) {
  .footer {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
    padding-bottom: 1.5rem;
  }
}

.footer-container {
  /* padding: 3rem; */
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 5rem;
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 375px) {
  .footer-container {
  /* padding: 3rem; */
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5rem;
  max-width: 1280px;
  margin: auto;
}
}

@media (max-width: 355px) {
  .footer-container {
  /* padding: 3rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  max-width: 1280px;
  margin: auto;
}

}

.footer-top {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}

/* Brand Column */
.footer-title {
  font-family: 'Poppins', sans-serif;
  color: #ff5c35;
  font-size: 7rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 90%;
  letter-spacing: -2px;
}

.footer-desc {
  color: #aaa;
  font-size: 1.3rem;
  /* max-width: 50%; */
}

@media (max-width: 900px) {
  .footer-desc {
    color: #aaa;
    font-size: 1.12rem;
    /* max-width: 50%; */
  }
}

@media (max-width: 750px) {
  .footer-desc {
    color: #aaa;
    font-size: 1rem;
    /* max-width: 50%; */
  }
}

@media (max-width: 400px) {
  .footer-desc {
    color: #aaa;
    font-size: 0.9rem;
    /* max-width: 50%; */
  }
}

@media (max-width: 375px) {
  .footer-desc {
    color: #aaa;
    font-size: 0.7rem;
    /* max-width: 50%; */
  }
}


/* Grid Layout */
.footer-brand {
  grid-column: span 2;
  max-width: 45%;
}

.footer-links-wrapper {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.footer-links a {
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
  font-size: 0.9rem;
  color: #ccc;
  transition: color 0.25s;
}

.footer-links a:hover {
  color: #fff;
}

/* Contact Section */
.footer-contact {
  border-top: 1px solid #333;
  margin-top: 60px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  color: #aaa;
  font-size: 0.8rem;
}

/* @media (max-width: 780px) {
  .footer-contact {
     gap: 10px;
  }
} */
/* 
.footer-contact div:nth-child(4) {
  grid-column: 4;
} */

.footer-label {
  color: #ff5c35;
  font-weight: 700;
  /* color: #ddd; */
  font-size: 0.75rem;
  margin-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #777;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .footer-brand {
    grid-column: span 1;
    margin-bottom: 40px;
    max-width: 100%;
  }

  


  .footer-top {
    display: flex;
    flex-direction: column;
  }

  .footer-links-wrapper {
    align-self: flex-start;
  }

  .footer-contact {
    grid-template-columns: 1fr 1fr;
  }

  .footer-contact div:nth-child(4) {
    grid-column: auto;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
